<header>Content Policy</header>

<body>
  <ul>
    <li>
      <h1>No Copyrighted Material</h1>
      Do not post copyrighted material without the consent of the copyright holder. Any content under copyright without proper
      licensing will be removed.
    </li>
    <li>
      <h1>No Content Advocating for Violence and Harassement</h1>
      Content that advocates the harassement or violence against any individual or group is not allowed. This includes revealing
      of personal information or "doxxing" or advocating for harassement on a different platform
    </li>
    <li>
      <h1>No Content Advocating Hate against a Protected group</h1>
      A protected group is a group that is defined by gender, sex, sexuality, race or ethnicity.
      All forms of racism misogyny and bigotry are not allowed.
    </li>
    <li>
        <h1>No Content that sexualizes minors</h1>
        Content that sexualizes minors (any person under 18) even if it is not legally classified 
        as child pornography is not allowed. This includes drawn images and videos and non-nude 
        images or videos that sexualizes a minor.
      </li>
      <li>
          <h1>No Content that shows a person without their consent</h1>
          In order to post pictures of people the poster must have the consent of any one 
          in the picture. If there is no consent or the poster is unable to ask the person
          the person's face must be pixelated or blurred to a point that they are unrecognizable
      </li>
  </ul>
</body>