nav{
    background: #2679ff;

    ul{
        list-style-type: none;
        glyph-orientation-vertical: 90deg;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: hidden;
        #home{
            font-weight: bold;
        }
        li{
            background: #2679ff;
            float: left;
            a{
                color: white;
                display: block;
                padding: 10px;
                padding-bottom: 20px;
                padding-top: 20px;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                

            }
            a:hover{
                background: blue;
            }
            .activated{
                background-color: white
            }
        }
        
    }
}