<header>Privacy Policy</header>
<body>
  Stakswipe does not harvest any data about users interests, real names, adresses or any other personal
  information. The only information that we have is the username you give us and the posts and shares that
  you make. Posts and shares should be considered public as anyone can access them if they know your username 
  so be careful what you posts. Other than that anything that a user likes or dislikes remains on the device
  that they use so the security of that information depends on the security of the device.
</body>