
<header>
  Welcome to StakSwipe
</header>
<body>
  <ul>
    <li>
      <h1>What is StakSwipe</h1>
      Stakswipe is a media aggregation app for android with an ios launch soon to come. It uses a card swiping interface to make
      browsing conent as easy as possible while customizing the content to your liking. Just right swipe the 
      content that you like and left swipe the content you don't like. The app will then customize the cards
      to your interests.
    </li>
    <li>
      <h1>Why use Stakswipe</h1>
      Stakswipe allows for the best combination of privacy and automatic customization. With 
      stakswipe all of your interest data is stored on your device. Unlike other social media 
      sites that harvest and sell your interest data as a cost to use their service. With stakswipe
      you own your data, so you don't have to worry about data breaches or business giving you 
      creepy ads based on that one thing you liked last week.
    </li>
    <li>
      <h1>How do I get it</h1>
      Stakswipe is currently available on android with an ios release coming soon. Click
      on the link below to get the adroid app.
    <br>
      <a href="https://play.google.com/store/apps/details?id=com.stakswipe">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/New-Play-Store-logo.png"/>
      </a>
    </li>
  </ul>
</body>
